*, body, html, div, p {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    line-height: 0.8;
    letter-spacing: 0.8px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align:center;
  }
  body{
    padding: 1rem;
    background-color: var(--app-background-color);
  }

  